        <% if !@product.nil? && @product.errors.any? %>
          <div class="col-lg-12 alert-danger">
          <p></p>
          <p></p>
          The form contains <%= pluralize(@product.errors.count, "error") %>
          <ul>
            <% @product.errors.full_messages.each do |message| %>
              <li><%= "#{message}" %></li>
            <% end %>           
          </ul>
          </div>
      <% end %>

      <div class="">
        <% flash.each do |message_type, message_body| %>
          <span class="col-lg-12 alert alert-<%= message_type %>"><%= message_body %></span>
        <% end %>
      </div>

