<% provide(:title, "Products Home Page") %>

<nav class="navbar navbar-fixed-top header">
    <div class="col-md-12">
        <div class="navbar-header">
          
          <a href="<%= products_path %>" class="navbar-brand">Products Dashboard</a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse1">
          <i class="glyphicon glyphicon-search"></i>
          </button>
      
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse1">
          <ul class="nav navbar-nav navbar-right">
              <li><a href="<%= products_path %>" target="">Relaod Page</a></li>
           </ul>
        </div>  
     </div> 
</nav>



<!--main--> 
<div class="container" id="main">

  <div class="row">

        <% if !@product.nil? && @product.errors.any? %>
          <div class="col-lg-12 alert-danger">
          <p></p>
          <p></p>
          The form contains <%= pluralize(@product.errors.count, "error") %>
          <ul>
            <% @product.errors.full_messages.each do |message| %>
              <li><%= "#{message}" %></li>
            <% end %>           
          </ul>
          </div>
      <% end %>

  <div class="col-lg-12" style="padding-bottom: 10px;">
  		<p>Edit Product and Submit to save</p>

      <%= form_for(@product) do |form| %>

        <div class="col-lg-2">
        <%= form.text_field :name, class: "form-control" %>
        </div>
        <div class="col-lg-2">
        <%= form.text_field :quantity, class: 'form-control' %>
        </div>
        <div class="col-lg-2">
        <%= form.text_field :price, class: 'form-control' %>
        </div>
        <div class="col-lg-2">
        <%= form.submit "Save Changes", class: 'btn btn-primary' %>
        </div>

      <% end %>

    </div>

  </div>

  </div>
  <!-- /.row -->

 </div>

