<% provide(:title, "Products Home Page") %>

<nav class="navbar navbar-fixed-top header">
    <div class="col-md-12">
        <div class="navbar-header">
          
          <a href="<%= products_path %>" class="navbar-brand">Products Dashboard</a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse1">
          <i class="glyphicon glyphicon-search"></i>
          </button>
      
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse1">
          <ul class="nav navbar-nav navbar-right">
              <li><a href="<%= products_path %>" target="">Relaod Page</a></li>
           </ul>
        </div>  
     </div> 
</nav>



<!--main--> 
<div class="container" id="main">

  <div class="row">

  <%= render 'shared/error_messages' %>

  <div class="col-lg-12" style="padding-bottom: 10px;">
  		<p>Enter the details below in order to add a new product</p>

      <div class="col-lg-2">
      <%= form_tag(products_path,{ method: "post", role: "form"}) do %>
      </div>
      <div class="col-lg-2">
      <%= text_field_tag(:name,'', placeholder: "Product Name", class: "form-control") %>
      </div>
      <div class="col-lg-2">
        <%= text_field_tag(:quantity, '', placeholder: "Quantity", class: "form-control") %>
      </div>
      <div class="col-lg-2">
        <%= text_field_tag(:price, '', placeholder: "Price", class: "form-control") %>
      </div>
      <div class="col-lg-2">
        <%= submit_tag("Submit", class: "btn btn-primary") %>
      </div>

      <% end %>

  </div>

    <div class="col-lg-12">
       
       <table class="table table-hover table-bordered table-striped productsTable">
         
         <thead>
           <tr>
             <th>Name</th><th>Quantity</th><th>Price</th><th>Total Value</th><th>Date Added</th><th>Edit</th><th>Remove</th>
           </tr>
         </thead>

            <!-- loop throug the $productsArray printing details to table -->

            <% totalValue = 0 %>

            <% if @products.count != 0 %>
                    
            	<tbody>

	                <% @products.each do |product| %>

                    <% totalValue += (Float(product.quantity) * Float(product.price)) %>

	                    <tr>
	                    <td><%= product.name %></td><td><span class="pull-right"><%= number_with_delimiter(product.quantity) %></span></td><td><span class="pull-right"><%= number_to_currency(product.price) %></span></td>

	                     <td><span class="pull-right"><%= number_to_currency(Float(product.quantity) * Float(product.price)) %></span></td>
                       <td><span class="pull-right"><%= distance_of_time_in_words(Time.now, product.created_at) %> ago</span></td>
                       <td><a href='<%= edit_product_path(product.id) %>'><i class='fa fa-edit'></i></a></td><td><a href='<%= products_path(product.id) %>'><i class='fa fa-trash'></i></a></td>
	                   </tr>

	                <% end %>

	            </tbody>

	    		<tfoot>
		           <tr>
		             <th></th><th></th><th></th><th><span class="pull-right"><%= number_to_currency(totalValue) %></span></th><th></th><th></th><th></th>
		           </tr>
		        </tfoot> 

            <% else %>
            	<tfoot>
		           <tr>
		             <th></th><th></th><th></th><th></th><th><span class="totalValue"><%= number_to_currency(totalValue) %></span> </th><th></th><th></th>
		           </tr>
		        </tfoot> 

            	</table>
            	<span class="noProducts" ><p class='alert alert-danger'>No Products have been added yet...</p></span>

        	<% end %>



        </table>        

    </div>

  </div>
  <!-- /.row -->

 </div>

